


<mat-toolbar color="primary" style=" justify-content:space-between; ">
  <div >
    <button style="margin: 5px" type="button" class="btn btn-success" (click)="seeMyAllPublicaions()">Mis Publicaciones</button>
    <button style="margin: 5px" type="button" class="btn btn-success" (click)="seeAllPublicaions()">Search</button>
    <button style="margin: 5px" type="button" class="btn btn-success"(click)="showSubscriptions()" >Subscriptions</button>
  </div>

  <span >AdoptMeYaFrontend</span >
</mat-toolbar>
