


<mat-toolbar  color="primary" style=" justify-content:space-between; ">

  <span>
    <img class="img-fluid" src="assets/logo.png">Adopt Me Ya! (Frontend)</span >
</mat-toolbar>

<div >

  <button style="margin: 5px" type="button" class="btn btn-success" (click)="seeMyAllPublicaions()">Mis Publicaciones</button>
  <button style="margin: 5px" type="button" class="btn btn-success" (click)="seeAllPublicaions()">Search</button>
  <button style="margin: 5px" type="button" class="btn btn-success"(click)="showSubscriptions()" >Subscriptions</button>
</div>
