<mat-toolbar color="primary" style=" justify-content:space-between; ">
  <span>AdoptMeYaFrontend</span>
  <div *ngIf="getRouter().url !== '/login' && getRouter().url != '/signup'">
    <button style="margin: 5px" type="button" class="btn btn-success" (click)="seeMyAllPublicaions()">My Publications</button>
    <button style="margin: 5px" type="button" class="btn btn-success" (click)="seeAllPublicaions()">All Publications</button>
    <button style="margin: 5px" type="button" class="btn btn-success"(click)="showSubscriptions()" >Subscriptions</button>
  </div>
  <span *ngIf="getRouter().url !== '/login' && getRouter().url != '/signup'"><button style="margin: 5px" type="button" class="btn btn-success" (click)="logout()">Logout</button></span>


</mat-toolbar>
