
<mat-list role="list">
  <mat-list-item *ngIf="getUser().type !== 'Veterinarian'">
    <button  style="color:white" class="btn btn-success" (click)="seeAllPublicaions()" >PUBLICATIONS</button>
  </mat-list-item>
  
  <mat-list-item *ngIf="getUser().type !== 'Veterinarian'">
    <button  style="color:white" class="btn btn-success" (click)="seeMyAllPublicaions()">MY PUBLICATIONS</button>
  </mat-list-item>
  <mat-list-item >
    <button style="color:white" class="btn btn-success" (click)="seeMyPerfil()">MY PROFILE</button>
  </mat-list-item>
  
  <mat-list-item *ngIf="getUser().type !== 'Client' ">
    <button  style="color:white" class="btn btn-success" (click)="seeMyAdvertisements()" >ADVERTISEMENTS</button>
  </mat-list-item>
  
  <mat-list-item >
    <button  style="color:white" class="btn btn-success " (click)="seeMyAdvertisementsWithPromotion()" >PROMOTIONS</button>
  </mat-list-item>
  <mat-list-item>
    <button style="color:white" class="btn btn-success" (click)="seeNotifications()" >NOTIFICATION</button>
  </mat-list-item>
  <mat-list-item >
    <button  style="color:white" class="btn btn-success"  (click)="showSubscriptions()">SUBSCRIPTIONS</button>
  </mat-list-item >
</mat-list>
