.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  #red{
      background-color: red;
  }

ul{
  display:flex;
  align-items: center;
  text-align: justify;
  flex-direction: column;
}

mat-card
{
  margin: 10%;
}