<div class="md-form mt-0" style="align-items: center;">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" #newvalor>
    <button type="button" class="btn btn-success"
            (click)="filter(newvalor.value)"
    >Filtrar
    </button>
</div>


<div>
  <ul>
    <div *ngFor="let name of names;let i = index" style="display: flex; justify-content: center; align-items: center; ">
      <mat-card class="example-card" style="height:60%; width:60%; margin-bottom: 20px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title *ngIf="listpets">{{listpets[i].name}}</mat-card-title>
          <mat-card-subtitle>{{names[i].comment}}</mat-card-subtitle>
        </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
          <h3 *ngIf="listpets">Especie: {{listpets[i].type}}</h3>
          <h3 *ngIf="listpets && listpets[i].race !== '' ">Race: {{listpets[i].race}} </h3>
          <h3 *ngIf="listpets" >Attention: {{listpets[i].attention}}</h3>
          <h3 *ngIf="listpets">Age: {{listpets[i].age}}</h3>
          <h3 *ngIf="listpets">Adopted: {{listpets[i].isAdopted}}</h3>
          <h3>Date publication: {{names[i].datetime}}</h3>
      </mat-card>
    </div>
  </ul>
  <div *ngIf="names.length==0">No existen datos </div>
</div>




