<div class="md-form mt-0" style="align-items: center;">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" #newvalor>
    <button type="button" class="btn btn-success"
            (click)="filter(newvalor.value)"
    >Filtrar
    </button>
</div>



<div>
  <ul>

    <div *ngFor="let name of names; let i = index" style="display: flex;
    justify-content: center;
    align-items: center; " >
      <mat-card class="example-card" style="height:60%; width:60%; margin-bottom: 20px;" *ngIf="newvalor.value==name.Age||newvalor.value==''" >
        <mat-card-header >
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{name.Name}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
             alt="Photo of a Shiba Inu" />
        <h3>Race:{{name.Race}}     </h3>
        <h3 >Ubication:{{name.Ubication}}</h3>
        <h3 >Age:{{name.Age}}      </h3>
        <h3>Fecha :{{name.Fecha}}   </h3>
        <p>Comment:{{name.Commnet}}</p>

      </mat-card>
    </div>
  </ul>
  <div *ngIf="names.length==0">No publicaiones</div>
</div>
