#delete{
  background-color: red;
  color:white;
}
#edit{
  background-color: blue;
  color:white;
}

.exampleModal { background-color:red }
.red{
  color: red;
}
.flexbox{
  display: flex; 
  flex-direction: row;
}
.lol:last-child {
  margin-bottom: 200px;
}
.last-child{
  margin-bottom: 100px;
}
