<div *ngIf="getUser() ==null; else elseBlock">
    No hay usuario logeado.</div>
<ng-template #elseBlock>
    <p>
        <mat-label>Felicidades haz iniciado sesion</mat-label>
    </p>
</ng-template>


<p>
    <mat-label>Email del usuario: {{getUser().email }}</mat-label>
</p>
<p>
    <mat-card-subtitle>Mi nombre es: {{getUser().username}} </mat-card-subtitle>
</p>
<p>
    <mat-card-subtitle>Mi rol es: {{getUser().rol}} </mat-card-subtitle>
</p>
<p>
    <mat-button-toggle (click)="logout()">logout</mat-button-toggle>
</p>

